.main-container-Guess-the-number {
    --number-box-bg-color: #987D9A;
    --number-box-bg-on-active: #EF5A6F;
    --number-box-text-on-active: rgb(227, 227, 227);
    --option-btn-bg-color: #694F8E;
    --option-btn-bg-on-active: rgb(52, 139, 177);
    --option-btn-text-color: #EECEB9;
    --option-btn-text-on-active: rgb(227, 227, 227);
    --computer-generated-active-number-box: green;
    --number-box-bg-on-active-selection: rgb(94, 210, 45);
    --add-bet-button-g-number-bg: rgb(240, 126, 5);
    user-select: none;
}

.guess-game-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.guess-result-box {
    width: 6rem;
    height: 6rem;
    background-color: #987D9A;
    border-radius: 12px;
}

.guess-result-box {
    position: relative;


}

.result-g-number {
    font-weight: bold;
    color: #D4BDAC;
    font-size: 1.5rem;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


.number-area {
    max-width: 32rem;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    /* border: 2px solid darkcyan; */
}

.number-box {
    width: 5rem;
    height: 5rem;
    /* border: 1px solid green; */
    cursor: pointer;
    color: #D4BDAC;
    font-size: 1.5rem;
    font-weight: bold;
    /* flex-grow: auto !important; */
    aspect-ratio: 1/1;
    transition: transform .2s;
    background-color: var(--number-box-bg-color);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 5px;
    border-radius: 10px;

}

.computer-choice {
    background-color: green;
    color: white;
}

.number-box:hover {
    transform: scale(1.1);
    color: var(--number-box-text-on-active);
    background-color: var(--number-box-bg-on-active);
}

.number-box-active {
    color: var(--number-box-text-on-active);
    background-color: var(--number-box-bg-on-active);
}



.option-btn {
    outline: none;
    font-weight: 500;
    color: var(--option-btn-text-color);
    background-color: var(--option-btn-bg-color);
    padding: 0 !important;
    border-radius: 10px;
    height: 3rem !important;
}

.option-btn:hover {
    background-color: var(--option-btn-bg-on-active) !important;
    color: var(--option-btn-text-on-active) !important;
}

.btn-active {
    background-color: var(--option-btn-bg-on-active);
    color: var(--option-btn-text-on-active);
}

.play-guess-btn {
    background-color: var(--option-btn-bg-color);
    font-weight: 500;
    color: var(--option-btn-text-color);
    height: 3rem !important;
    /* width: 3rem; */
}

.play-guess-btn:hover {
    background-color: var(--number-box-bg-on-active);
    color: var(--option-btn-text-on-active);

}

.game-refresh-button {
    right: 0;
    top: 17%;
    border-radius: 50%;
    color: var(--option-btn-text-color);
    background-color: var(--option-btn-bg-color);
}

.game-refresh-button:hover {
    color: var(--option-btn-text-on-active);

    background-color: var(--number-box-bg-on-active);
}

.add-bet-button-g-number {
    font-weight: 500;
    color: var(--option-btn-text-color);
    background-color: var(--add-bet-button-g-number-bg);
}

.comp-chosen {
    transform: scale(1.1);
    color: var(--number-box-text-on-active);
    background-color: var(--computer-generated-active-number-box);
}


@media all and (max-width: 575px) {
    .main-container-Guess-the-number {
        margin: 0;
    }

    .game-block {
        padding: 0;

    }
}